<!DOCTYPE html>
<style>
    .myHeader {
        padding: 20px;
        text-align: center;
    }

    .text {
        padding-left: 20px;
    }

    .center {
        text-align: center;
    }

    .column {
        float: left;
        padding: 10px;
    }

        .column.side {
            width: 25%;
        }

        .column.middle {
            width: 50%;
            padding-left: 120px;
        }

    .roww:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Bill Appiagyei</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

    <h1>My Favorite hobbies</h1>
    <h2>Playing musical Instruments and Video Games</h2>

    <h3>Introduction</h3>
    <ul>
        <strong>Hello my name is Bill Appiagyei</strong>
            I am a Junior at the University of Cincinnati majoring in Information Technology on the software development track. I have experience in Java, C#, SQL, Wordpress, Adobe creative cloud etc.
    </ul>

    <h3>Work Experience </h3>
    <ul>
        <li><strong>Database Intern at Guiding Light Mentoring</strong></li> Updating database and modifying permissions for access in Wix database on the website.
        <li><strong>Media Editor at UC</strong></li> Editied podacsts for the school on Innovative design thinking and education as well as designing flyers and posters.
    </ul>


    <h3>Instruments I play</h3>
    <ul>
        <li><strong>Guitar</strong></li>
        <li><strong>Piano </strong></li>
    </ul>

    <h3 id="myHeader">Favorite video games to play</h3>
    <ol>
        <li><strong>COD Warzone and Vanguard</strong></li>
        <li><strong>Red Ded Redemption 2</strong></li>
    </ol>
</body>
</html>

