@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<style>
    .column{
        float: left;
        padding: 10px;
    }
    .column.side{
        width: 25%;
    }
    .column.middle{
        width: 50%;
        padding-left: 120px;
    }
    .roww:after{
        content: "";
        display: table;
        clear: both;
    }
    .center {
        text-align: center;
        border: 5px solid green;
    }
    ul.a{
        list-style-type: square;
    }
    .pad{
        padding-top: 20px;
    }
   
</style>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="center">Welcome!</h1>

    <div class="roww">
    <div class="column side">
    <h2>Common Hobbies</h2>
        <ul class="a">
            <li><strong>Video Games</strong></li>
            <li><strong>Sports</strong></li>
            <li><strong>Working out</strong></li>
            <li><strong>Arts and Crafts</strong></li>
            <li><strong>Watching Tv</strong></li>
        </ul>
    </div>
        <div class="column middle">
            <h2>The Website</h2>
            <h4 class="pad"><strong>This website it about our favorite hobbies.  We discuss the importance of having a favorite hobby and we also discuss something about each other.</strong></h4>
        </div>
        <div class="column side">
            <h2>Team Members</h2>
            
                <ol class="pad">
                    <li><strong>Sam Gehrlich</strong></li>
                    <li><strong>Colin Vitols</strong></li>
                    <li><strong>Bart Raeshawn</strong></li>
                    <li><strong>Samuel Dappen</strong></li>
                    <li><strong>Bill Appiagyei</strong></li>
                </ol>
            
        </div>

    </div>
</body>
</html>