@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<style>
    .column{
        float: left;
        padding: 10px;
    }
    .column.side{
        width: 25%;
    }
    .column.middle{
        width: 50%;
        padding-left: 120px;
    }
    .roww:after{
        content: "";
        display: table;
        clear: both;
    }

</style>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

</body>
</html>