<!DOCTYPE html>
<style>
    .myHeader {
        padding: 20px;
        text-align: center;
    }

    .text {
        padding-left: 20px;
    }

    .center {
        text-align: center;
        border: 5px solid green
    }

    .column {
        float: left;
        padding: 10px;
    }

        .column.side {
            width: 25%;
        }

        .column.middle {
            width: 50%;
            padding-left: 120px;
        }

    .roww:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Raeshawn Bart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>




    <h1> Introduction</h1>
    <ul>
        <strong>
            Hello my name is Raeshawn Bart.
            Im currently a senior at the university of cincinnati. Im currently majoring in computer science. im looking for a software devolopment or a databasing job.
            I have current knowledge in html, sql ,java,javascript, linux,ruby,excel, c++,c#,pyhton,view and others.
        </strong>
    </ul>

    <h1> Work Experience </h1>
    <ul>
      <li><strong>Job Title:airborne maintence and inventory</strong></li>
      <li><strong>Skills the job built upon: databasing adding and removing and updating database, item look up and price updating live, pull request and fill our parts paperwork </strong></li>
    </ul>


    <h4 id="myHeader">Games i enjoy playing</h4>
    <ul>
        <li><strong>valorant</strong></li>
        <li><strong>league of legends </strong></li>
        <li><strong>Fortnite </strong></li>
        <li><strong>god of war</strong></li>
    </ul>

    <h4 id="myHeader">Top 4 favorite systems</h4>
    <p id="text"><strong>These are my favorite Systems in order</strong></p>
    <ol>
        <li><strong>PC</strong></li>
        <li><strong>PLaystation 5</strong></li>
        <li><strong>Nintendo Switch </strong></li>
        <li><strong>Xbox Series x</strong></li>
    </ol>





</body>
</html>
