<!DOCTYPE html>
<style>
    .myHeader {
        padding: 20px;
        text-align: center;
    }

    .text {
        padding-left: 20px;
    }

    .center {
        text-align: center;
        border: 5px solid green
    }
    .column {
        float: left;
        padding: 10px;
    }

        .column.side {
            width: 25%;
        }

        .column.middle {
            width: 50%;
            padding-left: 120px;
        }

    .roww:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Sam Gehrlich</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:powderblue;">



    <h1 class="center">My Favorite Hobbies</h1>
    <h1 class="center">Video Games</h1>

    <h4 id="myHeader">Favorite Video Games</h4>
    <ul>
        <li><strong>Dark Souls 1, 2, and 3</strong></li>
        <li><strong>Gears of War 1, 2, and 3</strong></li>
        <li><strong>Dayz</strong></li>
        <li><strong>Bioshock</strong></li>
    </ul>

    <h4 id="myHeader">My Favorite Gaming Console And PC</h4>
    <p id="text"><strong>These our my favorite consoles and PC's in order.</strong></p>
    <ol>
        <li><strong>Xbox Series X</strong></li>
        <li><strong>Lenovo Legion</strong></li>
        <li><strong>Playstation 5</strong></li>
        <li><strong>Alienware</strong></li>
    </ol>

    <h1 class="center">About Me</h1>
    <h5>Sam Gehrlich, University of Cincinnati Student</h5>

    <div class="roww">
        <div class="column side">
            <h2>Work Experience</h2>
            <p>I have worked at Mios Pizza for 7 years.  I was a manager there who would run the kitchen and make sure everything ran smoothly. I also have done construction work at GHK.  I have done COMPTIA work and have experience in coding languages such as java and html.  I currently am trying to CO-OP for an insurance company called CareStar.</p>
        </div>

        <div class="column middle">
            <h2>Random Information</h2>
            <p>My name is Sam Gehrlich.  I am a Senior at the University of Cincinnati and I am currently majoring in Informational Technology.  I have only 2 semesters of classes left before graduation.  I have lived in Cincinnati my whole life.  I own 2 dogs one being a wolf hound mix and the othe a lab.  I hope to eventually acquire a job in cyber security or software development.  </p>
        </div>

        <div class="column side">
            <h2>IT Experience</h2>
            <p>I have coding experience in javascript, java, html, and C#.  All of these our important languages to know for software development.  I also have some experience with SQL and databases.</p>
        </div>

     </div>



</body>
</html>