@{
    ViewData["Title"] = "Home Page";
}

<style>
    #myHeader {
        padding: 20px;
        text-align: center;
    }

    #text {
        padding-left: 20px;
    }
</style>

<body style="background-color:powderblue;">


    <div class="text-center">
        <h1 style="background-color:forestgreen">Welcome!</h1>
    </div>
    <div class="text-center">
        <h1 style="background-color:forestgreen">My Favorite Hobbies</h1>
    </div>
    <div class="text-center">
        <h2 style="background-color:forestgreen">Video Games!</h2>
    </div>

    <h4 id="myHeader">Favorite Video Game Categories</h4>
    <ul>
        <li><strong>Dark Souls 1, 2, and 3</strong></li>
        <li><strong>Gears of War 1, 2, and 3</strong></li>
        <li><strong>Dayz</strong></li>
        <li><strong>Bioshock</strong></li>
    </ul>

    <h4 id="myHeader">My Favorite Gaming Console And PC</h4>
    <p id="text"><strong>These our my favorite consoles and PC's in order.</strong></p>
    <ol>
        <li><strong>Xbox Series X</strong></li>
        <li><strong>Lenovo Legion</strong></li>
        <li><strong>Playstation 5</strong></li>
        <li><strong>Alienware</strong></li>
    </ol>

</body>