<!DOCTYPE html>
<style>
    .myHeader {
        padding: 20px;
        text-align: center;
    }

    .text {
        padding-left: 20px;
    }

    .center {
        text-align: center;
        border: 5px solid green
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Sam Gehrlich</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:powderblue;">



    <h1 class="center">My Favorite Hobbies</h1>
    <h1 class="center">Video Games</h1>

    <h4 id="myHeader">Favorite Video Games</h4>
    <ul>
        <li><strong>Dark Souls 1, 2, and 3</strong></li>
        <li><strong>Gears of War 1, 2, and 3</strong></li>
        <li><strong>Dayz</strong></li>
        <li><strong>Bioshock</strong></li>
    </ul>

    <h4 id="myHeader">My Favorite Gaming Console And PC</h4>
    <p id="text"><strong>These our my favorite consoles and PC's in order.</strong></p>
    <ol>
        <li><strong>Xbox Series X</strong></li>
        <li><strong>Lenovo Legion</strong></li>
        <li><strong>Playstation 5</strong></li>
        <li><strong>Alienware</strong></li>
    </ol>

</body>
</html>