<!DOCTYPE html>
<style>
    .mainHeader {
        padding: 20px;
        text-align: center;
    }

    .text {
        padding-left: 20px;
    }

    .center {
        text-align: center;
        border: 5px brown double;
    }

    .column {
        float: left;
        padding: 10px;
    }

        .column.side {
            width: 25%;
        }

        .column.middle {
            width: 50%;
            padding-left: 75px;
        }

        h5 {
            text-align: center;
        }

        h4 {
            text-align: center;
        }

        
        
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Samuel Dappen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body style="background-color:lightgray;">



    <h1 class="center">About Me</h1>
    <h5>Samuel Dappen</h5>

    <div class="row">
        <div class="column side">
            <h2>Professional Experience</h2>
            <p>My only current professional involves the cartaking and upkeep of rental property, but this January I will be working in a position with the IT help desk for the College of Arts and Sciences.</p>
        </div>

        <div class="column middle">
            <h2>General Knowledge</h2>
            <p>I am a 3rd year student at UC majoring in Information Technology. I am 21 years old and grew up around the Cincinnati area. Aside from my biggest hobby video games other things I like to do are watching football (especcially this year), playing golf, and bike riding.</p>
        </div>

        <div class="column side">
            <h2>IT Skills</h2>
            <p>My current programming languages are: Java, C++, C#, HTML & CSS, SQL, and Python. I have experience with the Windows, Mac, and Linux. I have also assembled multiple PCs and printers.</p>
        </div>

    </div>



    <h1 class="center">My Hobby: Video Games</h1>

    <h4 id="mainHeader">Top 10 Favorite Video Games</h4>
    <div class="list">
        <ul>
            <li>Destiny 2</li>
            <li>Star Wars: The Old Republic</li>
            <li>The Elder Scrolls V: Skyrim</li>
            <li>Fallout 4</li>
            <li>Call of Duty: Black Ops 2</li>
            <li>Halo Reach</li>
            <li>Legend of Zelda: Skyward Sword</li>
            <li>Super Mario Sunshine</li>
            <li>XIII</li>
            <li>Voodoo Vince</li>
        </ul>
    </div>


</body>
</html>